---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header" style="text-align: center; margin-bottom: 3rem;">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: "%B %-d, %Y" }}
            </time>
            {%- if page.author -%}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
                    itemprop="name">{{ page.author }}</span></span>
            {%- endif -%}
            •
            {% assign words = content | number_of_words %}
            {% if words < 360 %} 1 min read {% else %} {{ words | divided_by: 180 }} min read {% endif %} </p>
                <div class="post-tags">
                    {% for tag in page.tags %}
                    <a href="{{ '/tags/' | relative_url }}#{{ tag }}" class="tag-badge">{{ tag }}</a>
                    {% endfor %}
                </div>
    </header>

    <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
    </div>

    <div class="post-navigation" style="margin-top: 4rem; display: flex; justify-content: space-between;">
        {% if page.previous.url %}
        <a class="btn btn-outline" href="{{ page.previous.url | relative_url }}">&larr; {{ page.previous.title }}</a>
        {% else %}
        <span></span>
        {% endif %}
        {% if page.next.url %}
        <a class="btn btn-outline" href="{{ page.next.url | relative_url }}">{{ page.next.title }} &rarr;</a>
        {% endif %}
    </div>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>